h1 {
    color: red;
    font-size:60px;
    font-style:fantasy;


}

p{
    color: red;
    font-size:40px;
    font-style:fantasy;

}
body{
    background-color:black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size:20;
    font:red;
  }
  li{
      color:red;


  }