h1 {
    color: red;
    font-size:60px;
    font-style:fantasy;
    text-align: center;


}

p{
    color: red;
    font-size:40px;
    font-style:fantasy;
    text-align: center;

}
body{
    background-color:black;
}

a {
    list-style-type: none;
    margin: 2;
    padding: 2;
    overflow: hidden;
    font-size:20;
    color:black;
    background-color: red;
    font-style:fantasy;
    
  }
